body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}
a {
  color: #00B7FF;
}
.wait {
  cursor: wait;
}
.hand {
  cursor: pointer;
}
.cover {
  background: #808080;
  bottom: 0;
  display: none;
  filter: alpha(opacity=50);
  left: 0;
  opacity: 0.5;
  position: fixed;
  right: 0;
  top: 0;
}
