<!DOCTYPE html>
<head>
    <meta name="viewport" content="width=device-width"/>
    <title>title</title>
    <link href="./stylesheets/bootstrap.min.css" rel="stylesheet"/>
    <link href="./stylesheets/layout.min.css" rel="stylesheet"/>
    <script src="./javascripts/jquery.min.js"></script>
</head>
<body>
<%- body %>
<div id="cover" class="cover"></div>
<script src="./javascripts/bootstrap.min.js"></script>
<script src="./javascripts/handlebars.min.js"></script>
<script src="./javascripts/layout.min.js"></script>
</body>