<table class="table table-striped table-hover table-bordered">
    <tr>
        <th>
            Name
                <span id="nameOrder" class="glyphicon glyphicon-sort hand" aria-hidden="true"
                      onclick=" navigateTo(1, 'nameOrder') "></span>
        </th>
        <th>
            Age
                <span id="ageOrder" class="glyphicon glyphicon-sort hand" aria-hidden="true"
                      onclick=" navigateTo(1, 'ageOrder') "></span>
        </th>
    </tr>
    {{#each this}}
    <tr>
        <td>{{this.name}}</td>
        <td>{{this.age}}</td>
    </tr>
    {{/each}}
</table>